.profile_img_wraper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 10px;
  border: 5px solid #aa0177;
  box-shadow: 0px 0px 9px 1px #089e08ba;
}
.profile_img_wraper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 3px;
}
.last_name {
  color: #358ad1;
}
.my_details {
  background: #323b4b;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 1px #000000ad;
}
.my_details p {
  color: #d4dbe8;
}
.my_details p sub {
  color: #78808c;
}
