.web_body {
  width: 90%;
  margin: auto;
  border: 1px solid #ffffff;
  grid-template-columns: 3fr 1fr;
  position: relative;
}

@media screen and (max-width: 1238px) {
  .web_body {
  }
}

@media screen and (max-width: 1024px) {
  .web_body {
    grid-template-columns: 2.5fr 1.5fr;
  }
}
@media screen and (max-width: 768px) {
  .web_body {
    grid-template-columns: 2.5fr 2fr;
  }
}
@media screen and (max-width: 640px) {
  .web_body {
    grid-template-columns: auto;
  }
}
