.web_body {
  width: 90%;
  margin: auto;
  grid-template-columns: 3fr 1fr;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .web_body {
    grid-template-columns: 2.5fr 1.5fr;
  }
}
@media screen and (max-width: 768px) {
  .web_body {
    grid-template-columns: 2.5fr 2fr;
  }
}
@media screen and (max-width: 640px) {
  .web_body {
    grid-template-columns: auto;
  }

  .profile_vigabol-hide {
    display: none;
  }
}
@media screen and (min-width: 639px) {
  .hidden {
    display: block;
  }
}
